*{
  margin:0;
  padding:0;
}
body {
    background: rgb(76,30,79);
    background: linear-gradient(61deg, rgba(76,30,79,1) 0%, rgba(64,121,140,1) 100%);
    font-family: "Exo 2", sans-serif;
    font-size: 10px;
    overflow-x: hidden;
    display:grid;
    grid-template-areas:
      "header"
      "accueil"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows: 30px 100vh 100px;
 }


.boite {
  border: 1px solid #9ec1a3;
  border-radius: 10px;
  background: rgb(76,30,79);
  background: linear-gradient(129deg, rgba(76,30,79,1) 67%, rgba(145,44,142,1) 100%);
  height: 60%;
  color: white;
  font-size: 18px;
  text-align:center;

  margin: 50px;

}

#title{
  display:block;
  margin-top:50px;
}

header {
  text-align:center;
  position: sticky;
  display: inline;
  height: 100%;
  width: calc(100% - 30px);
  top: 0;
  z-index: 1000;
  opacity: 0.8;
  grid-area: header;
  background-color: rgba(76, 30, 79, 0.9);
  padding: 15px;
  opacity: 1;
  border-bottom: 2px solid white;
}

main {
  margin-top:30px;
  grid-area: accueil;
}
footer {
  border-top:2px solid white;
  background-color: #4C1E4F;
  grid-area: footer;
}

#logo {
  position: absolute;
  left: 10px;
}

#logo {
  top: 4px;
  height: 50px;
  width: 50px;
}

header {
  position: sticky;
  display: inline;
  height: 100%;
  width: calc(100% - 30px);
  top: 0;
  z-index: 1000;
  opacity: 0.8;
  grid-area: header;
  background-color: rgba(76, 30, 79, 0.9);
  padding: 15px;
  opacity: 1;
  border-bottom: 2px solid white;
}

nav{
  position: relative;
  display: inline;
  bottom: -5px;
}

.accueil,
.score,
.theme,
.login,
.who {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  padding: 7px;
  border-radius: 20px 20px 20px 20px;
  transition-property: background-color, border-radius;
 
  transition-duration: 0.3s;
  transition-timing-function: linear;
  font-size: 13px;
  }

ul {
  display: inline;
  list-style-type: none;
  margin: auto;
}

ul li {
  display: inline;
  padding-left: 5%;
}

.accueil:hover,
.score:hover,
.theme:hover,
.who:hover,
.login:hover {
  cursor: pointer;
  background-color: #A790A5;
  color:black;
  border-radius: 2px 20px 2px 20px;
}

.Bouton1{
  height: 30px;
  width: 100px;
  color:white;
  background-color:#005E7C;
  border:none;
  border-radius: 10px;
}
.Bouton1:hover{
  background-color:#A790A5;
  color:black;

}
.form{
  display:block;
  margin:30px;
}
.Signin{
  margin-top:5px;
}
.link{
  color:red;
}
