*{
    --orange: #FF7D00; /*Variables générales pour le site*/
    --sienna: #78290f;
    --beige: #FFECD1;
    --bleuclair: #15616D;
    --bleufonce: #001524;
    --main-font: "Josefin Sans",sans-serif;
    font-family: var(--main-font);
}

.Bouton1{/*Css relatif a tous les boutons de conexion*/
    position:relative;
    display: flex;
    width: 20%;
    min-height: 50px;
    padding: 5px;
    margin: auto;
    background-color: var(--sienna);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    border: solid var(--sienna);
}

.Bouton1:hover{
    position:relative;
    background-color: var(--beige);
    border: solid var(--beige);
    color: var(black);
    transition: 0.5s;
}