*{
    --rose: #A790A5; /*Variables générales pour le site*/
    --cerulean: #40798C;
    --verdigris: #70A9A1;
    --vertclair: #9EC1A3;
    --palatinate: #4C1E4F;
    --main-font: "Josefin Sans",sans-serif;
    font-family: var(--main-font);
}

header {
    text-align:center;
    position: sticky;
    display: inline;
    height: 100%;
    width: calc(100% - 30px);
    top: 0;
    z-index: 1000;
    opacity: 0.8;
    grid-area: header;
    background-color: rgba(76, 30, 79, 0.9);
    padding: 15px;
    opacity: 1;
    border-bottom: 2px solid white;
  }
body {
    background-color:#4C1E4F;
    font-family: "Exo 2", sans-serif;
    font-size: 10px;
    overflow-x: hidden;
    display:grid;
    grid-template-areas:
      "header"
      "accueil"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows: 30px 100vh 250px;
}
body{
    width: 100%;
    margin: 0;
    margin-top: 15vh;
    background-color: var(--palatinate);
    color: var(#F5F5DC);
}

main {
    margin-top:30px;
    grid-area: accueil;
}
  
h1 {
    position: relative;
    display: inline;
    top: 4px;
    font-family: georgia;
    font-weight: bold;
    color: white;
}
#logo {
    position: absolute;
    left: 10px;
}
  
h1 {
    left: 50px;
    font-size: 19px;
}
  
#logo {
    top: 4px;
    height: 50px;
    width: 50px;
}

footer{
    background-color: var(--rose);
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.boite{
    display:flex;
    border: solid;
    width:90%;
    left: 50;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Bouton1{/*Css relatif a tous les boutons de conexion*/
    position:relative;
    display: flex;
    width: 20%;
    min-height: 30px;
    padding: 5px;
    margin: auto;
    background-color: var(--verdigris);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    border: solid var(--verdigris);
}

.Bouton1:hover{
    position:relative;
    background-color: var(--vertclair);
    border: solid var(--vertclair);
    color: var(black);
    transition: 0.5s;
}
.Bouton2{/*Css relatif a tous les boutons de conexion*/
    position:relative;
    display: flex;
    width: 20%;
    min-height: 30px;
    padding: 5px;
    margin: auto;
    background-color: var(--verdigris);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    border: solid var(--verdigris);
}

.Bouton2:hover{
    position:relative;
    background-color: var(--vertclair);
    border: solid var(--vertclair);
    color: var(black);
    transition: 0.5s;
}

.Bouton3{/*Css relatif a tous les boutons de conexion*/
    position:relative;
    display: flex;
    width: 20%;
    min-height: 30px;
    padding: 5px;
    margin: auto;
    background-color: var(--verdigris);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    border: solid var(--verdigris);
}

.Bouton3:hover{
    position:relative;
    background-color: var(--vertclair);
    border: solid var(--vertclair);
    color: var(black);
    transition: 0.5s;
}