*{
    --rose: #A790A5; /*Variables générales pour le site*/
    --cerulean: #40798C;
    --verdigris: #70A9A1;
    --vertclair: #9EC1A3;
    --palatinate: #4C1E4F;
    --main-font: "Josefin Sans",sans-serif;
    font-family: var(--main-font);
}

body{
    width: 100%;
    margin: 0;
    margin-top: 15vh;
    background-color: var(--palatinate);
    color: var(#F5F5DC);
}

footer{
    background-color: var(--rose);
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.boite{
    display:flex;
    border: solid;
    width:60%;
    margin: 90px;
}

.Bouton1{/*Css relatif a tous les boutons de conexion*/
    position:relative;
    display: flex;
    width: 20%;
    min-height: 30px;
    padding: 5px;
    margin: auto;
    background-color: var(--verdigris);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    border: solid var(--verdigris);
}

.Bouton1:hover{
    position:relative;
    background-color: var(--vertclair);
    border: solid var(--vertclair);
    color: var(black);
    transition: 0.5s;
}
.Bouton2{/*Css relatif a tous les boutons de conexion*/
    position:relative;
    display: flex;
    width: 20%;
    min-height: 30px;
    padding: 5px;
    margin: auto;
    background-color: var(--verdigris);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    border: solid var(--verdigris);
}

.Bouton2:hover{
    position:relative;
    background-color: var(--vertclair);
    border: solid var(--vertclair);
    color: var(black);
    transition: 0.5s;
}

.Bouton3{/*Css relatif a tous les boutons de conexion*/
    position:relative;
    display: flex;
    width: 20%;
    min-height: 30px;
    padding: 5px;
    margin: auto;
    background-color: var(--verdigris);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    border: solid var(--verdigris);
}

.Bouton3:hover{
    position:relative;
    background-color: var(--vertclair);
    border: solid var(--vertclair);
    color: var(black);
    transition: 0.5s;
}